.message
  .message__user-name
    = message.user.name
  .message__date
    = message.created_at
  .message__user-message
    = message.body_present
  = image_tag message.image_url, class: "message__user-image"
