.message
  .message__user-name
    = message.user.name
  .message__date
    = message.created_at
  .message__user-message
    - if message.body.present?
      .message__content
        = message.body
    = image_tag message.image_url, class: "message__user-image" if message.image.present?
