.side_content

  .header
    .header__name
      ユーザー名

    %ul.header__lists
      %li.list
        %i.fa.fa-edit
      %li.list
        %i.fa.fa-cog

  .groups
    .group
      .group__name
        グループ名
      .group__message
        メッセージ

.main_content

  .header
    .left_header
      .left-header__title
        グループ名
      %ul.left-header__members
        Member:

